<div class="container">
    <img src="../../../../assets/img/logo.png" width="104px" alt="Logo do aplicativo de banco Bankito">

    <div class="container-slogan">
        <p class="texto-slogan">O melhor e mais</p>
        <p class="destaque-slogan">Completo</p>
        <p class="texto-slogan">banco digital</p>
        <p class="texto-slogan">seguro e</p>
        <p class="destaque-slogan">Sem tarifas</p>
        <p class="texto-slogan">feito pra você.</p>
    </div>

     <button class="botao-iniciar" routerLink="/login/auth">Iniciar</button>

</div>