<!-- No StackBlitz não quis reconhecer essa imagem de fundo, mesmo reconhecendo em outros lugares normalmente, então deixei um backup pra caso aconteça isso em sua máquina -->
<div class="container">
    <img src="../../../../assets/img/logo.png" width="104px" alt="Logo do aplicativo de banco Bankito">

    <div class="container-slogan">
        <p class="texto-slogan">O melhor e mais</p>
        <p class="destaque-slogan">Completo</p>
        <p class="texto-slogan">banco digital</p>
        <p class="texto-slogan">seguro e</p>
        <p class="destaque-slogan">Sem tarifas</p>
        <p class="texto-slogan">feito pra você.</p>
    </div>

     <img src="../../../../assets/img/botao-iniciar.png" routerLink="/login/auth"
      class="botao-iniciar">

</div>